@use '../../variables/color' as color;

.header{
    border-bottom: 1px solid color.$main-primary;
}
.humberger{
    position: relative;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}
.humberger span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: color.$main-primary;
    border-radius: 2px;
    box-sizing: border-box;
}
.humberger span:nth-of-type(1) {
    bottom: 100%;
}
.humberger span:nth-of-type(2) {
    bottom: 50%;
}
.humberger span:nth-of-type(3) {
    bottom: 0;
}