@use '../../variables/color' as color;

.campaign-table > tbody > tr:nth-of-type(2n){
    background-color: color.$background-secondary;
}
.campaign-table > tbody > tr > th, .campaign-table > tbody > tr > td{
    font-size: 0.875rem;
    border-right: 1px solid color.$border-secondary;
}
.campaign-table > tbody > tr > th:first-of-type, .campaign-table > tbody > tr > td:first-of-type{
    width: 36%;
}
.campaign-table > tbody > tr > th:nth-of-type(2), .campaign-table > tbody > tr > td:nth-of-type(2){
    width: 12%;
}
.campaign-table > tbody > tr > th:nth-of-type(3), .campaign-table > tbody > tr > td:nth-of-type(3){
    width: 12%;
}
.campaign-table > tbody > tr > th:nth-of-type(4), .campaign-table > tbody > tr > td:nth-of-type(4){
    width: 12%;
}
.campaign-table > tbody > tr > th:nth-of-type(5), .campaign-table > tbody > tr > td:nth-of-type(5){
    width: 12%;
}
.campaign-table > tbody > tr > th:last-of-type, .campaign-table > tbody > tr > td:last-of-type{
    width: 16%;
    border-right: none;
}