// テキストカラー
$text-primary: #000000;
$text-secondary: #2A2A2A;
$text-tertiary: #9F9F9F;
$text-quaternary: #C9C9C9;
$text-quinary: #EFEFEF;
$text-senary: #FFFFFF;

// メインカラー
$main-primary: #506584;
$main-secondary: #5D6E78;

// サブカラー
$sub-primary: #CE858F;
$sub-secondary: #AABAC6;

// ボーダーカラー
$border-primary: #9F9F9F;
$border-secondary: #C9C9C9;
$border-tertiary: #e5e5e5;

// アレンジカラー
$arrange-primary: #B6D3BB;
$arrange-secondary: #EFECE4;
$arrange-tertiary: #E1E5E9;

// 背景色
$background-primary: #ffffff;
$background-secondary: #fafafa;
$background-tertiary: #E1E5E9;
$background-quaternary: #333333;