// Box Shadow Levels
$shadow-level-1: 0 0 3px rgba(0, 0, 0, 0.08);
$shadow-level-2: 0 0 10px rgba(0, 0, 0, 0.10);
$shadow-level-3: 0 3px 10px rgba(0, 0, 0, 0.10);
$shadow-level-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-level-5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

// Box Shadow Mixins
@mixin box-shadow($shadow-level) {
  box-shadow: $shadow-level;
}

// Usage
.element-level-1 {
  @include box-shadow($shadow-level-1);
}

.element-level-2 {
  @include box-shadow($shadow-level-2);
}

.element-level-3 {
  @include box-shadow($shadow-level-3);
}

.element-level-4 {
  @include box-shadow($shadow-level-4);
}

.element-level-5 {
  @include box-shadow($shadow-level-5);
}