// _typography.scss
$font-family-base: 'Noto Sans Japanese', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.875rem;

$font-weight-normal: 400;
$font-weight-bold: 700;