.dev-nosidebar-container{
    margin-top: 237px;
    overflow: hidden;
}
.dev-container{
    margin-top: 237px;
    margin-left: 270px;
    overflow: hidden;
}

.l-container{
    // min-height: 80vh;
    margin-bottom: 80px;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}