.upload-image-wrap{
    width: 25%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    align-items: center;
    color: #a5a5a5;
    min-width: 160px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.upload-image-zone{
    border: 2px dashed #707070;
}

.drop-image {
    z-index: 1;
}
.show-db-image {
    z-index: 0;
}