@use '../../variables/color' as color;
@use '../../variables/elevation' as elevation;

.form-group{
    border-bottom: 1px solid color.$border-secondary;
}
.form-label{
    width: 200px;
    min-width: 200px;
    background-color: color.$background-secondary;
}
.form-label-title{
    color: color.$main-primary;
}
.form-label-required{
    background-color: #DB0000;
    color: color.$text-senary;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.5;
}

.form-input{
    border-radius: 0.25rem;
    border: none;
    background-color: color.$background-secondary;
}

.form-text:disabled{
    background-color: color.$background-tertiary;
    color: color.$text-tertiary;
}

.form-searchbox{
    border-radius: 2rem;
    border: none;
    padding-left: 3rem;
    box-shadow: elevation.$shadow-level-3;
    background: #fafafa url(assets/img/icons/c-input_searchbox.svg) no-repeat 1rem center;
}
.form-searchbox::placeholder{
    color: color.$main-primary;
    font-size: 0.75rem;
}

.form-textarea{
    height: fit-content;
    min-height: fit-content;
}

.form-checkbox-wrap{
    border-bottom: 1px solid color.$border-tertiary;
}
.form-checkbox-label{
    position: relative;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    width: 60px;
    height: 30px;
    cursor: pointer;
}
.form-checkbox-label::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    background-color: color.$background-quaternary;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    transition-timing-function: ease-out;
    transition-duration: .15s;
}
.form-checkbox-label::after{
    position: absolute;
    top: 50%;
    right: 8px;
    background-color: color.$background-primary;
    display: block;
    box-sizing: border-box;
    content: "";
    width: 15px;
    height: 2px;
    transition: left opacity .2s ease-out;
    transform: translateY(-50%);
}
.form-checkbox:checked+label::before{
    border-radius: 4px 0 0 4px;
    background-color: color.$main-primary;
    transform: translateX(-30px);
}
.form-checkbox:checked+label::after{
    left: 8px;
    border: 2px solid color.$background-primary;
    border-radius: 50%;
    background: none;
    width: 15px;
    height: 15px;
}

.form-checkbox_type2-label{
    position: relative;
    padding-left: 45px;
    cursor: pointer;
}
.form-checkbox_type2-label::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border: 3px solid color.$background-tertiary;
    border-radius: 8px;
    background: color.$background-secondary;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
}
.form-checkbox_type2-label::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 16px;
    height: 8px;
    border-left: 4px solid color.$background-tertiary;
    border-bottom: 4px solid color.$background-tertiary;
    transform: rotate(-45deg) translate(8%, -70%);
    opacity: 0;
    transition: ease-in-out .1s;
}
.form-checkbox_type2-label:hover::after{
   opacity: 1;
}
.form-checkbox_type2:checked+label::before{
    border-color: color.$main-primary;
    background-color: color.$main-primary;
}
.form-checkbox_type2:checked+label::after{
    opacity: 1;
}

.form-append:first-of-type .js-delete-clone{
    display: none;
}